<div class='main-container'>
  <div class="header">
    <h2 id="title">Usuario</h2>
    <button mat-raised-button id="create" color='primary'>Crear</button>
  </div>
  <div class="body">
    <mat-list role="list">
      <div class="item">
        <h3><strong>Usuario 1</strong></h3>
        <div>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-divider class="divider"></mat-divider>
      </div>
      <div class="item">
        <h3><strong>Usuario 2</strong></h3>
        <div>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-divider class="divider"></mat-divider>
      </div>
      <div class="item">
        <h3><strong>Usuario 3</strong></h3>
        <div>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-divider class="divider"></mat-divider>
      </div>
    </mat-list>
  </div>
</div>
