<div fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;">
  <div fxFlex.gt-lg="80" fxFlex.gt-md="66" fxFlex.gt-xs="50" fxFlex="50" fxLayoutAlign="center">
    <mat-card class="oh text-center little-profile">
      <mat-card-content>
        <div>
          <app-form-general [dataNe]="dataN1" (onResp)="respData($event)"></app-form-general>
          <app-form-general [dataNe]="dataN2" (onResp)="respData($event)"></app-form-general>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="submit()" color="warn">Submit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
